[CONFIG]
# The output files are placed inside this directory.
output_dir = reports/
# The time and date are added after the name of each file.
time_date = true

# You definitely need to define these two variables in order to be able to do this.
# Read the project's documentation file: "README.md" 
# Or
# visit this page: https://github.com/Ch4120N/ChZoneGrabber
[ZONE-H CONFIG]
ZHE = 
PHPSESSID = 